body{
  font-family: sans-serif;
  margin: 0;
}

a{
  text-decoration: none;
  color: white;
}

header{
  display: flex;
  min-height: 80px;
  background-color: #0a4241;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.logo{
  display: flex;
  align-items: center;
}

.logo img{
  height: 50px;
  margin-right: 10px;
}

nav a{
  font-weight: 600;
  padding-right: 10px;
}

nav a: hover{
  color: black;
}

h1{
  color: white;
}

p {
  background-color: #E3E3FD;
  border-radius: 10px;
  color: #0a4241;
  font-size: 13px;
}
